@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

.font-hind {
  font-family: 'Hind', sans-serif;
}

.font-lexend {
  font-family: 'Lexend Deca', sans-serif;
}

.font-out{
  font-family: "Outfit", sans-serif;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}